*{box-sizing:border-box;font-family:'Open Sans',sans-serif;margin:0;padding:0;}

html,body{height:100%;}

body{
	background-color: #111;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.frame{
	border-radius: 2px;
	height: 400px;
	left: 50%;
	margin: -200px -200px 0 0;
	position: absolute;
	top: 50%;
}

.button{
	background: transparent;
	border:  1px solid #fff;
	border-radius: 30px;
	color:  #fff;
	cursor: pointer;
	display: block;
	font-size: 21px;
	font-weight: 700;
	height: 60px;
	left: 70px;
	letter-spacing: 2;
	line-height: 56px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: 170px;
	width: 260px;
}

.button:hover{background-color:#49504C;}

.button img{
	left: 15px;
	opacity: 0;
	position: absolute;
	top: 16px;
	z-index: 2;
}

.circle{
	fill:  none;
	height: 60px;
	left: 170px;
	pointer-events: none;
	position: absolute;
	stroke: #fff;
	stroke-dasharray: 183 183;
	stroke-dashoffset: 183;
	stroke-linecap: round;
	stroke-width: 2px;
	top: 170px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	width: 60px;
}

input:checked~.button{
	animation: button 1s ease both, fill .5s ease-out 1.5s forwards;
}

input:checked~.button img{
	animation: check .5s ease-out 1.5s both;
}

input:checked~.circle{
	animation: circle 2s ease-out .5s both;
}

@keyframes button{

	0%{
		border-color: #fff;
		color: #fff;
		height: 70px;
		width: 260px;
	}
	50%{
		color: transparent;
	}
	100% {
		background: transparent;
		border-color: #45B078;
		color: transparent;
		left: 170px;
		width: 60px;
	}
}

@keyframes circle{

	0%{
		stroke-dashoffset: 183;
	}
	50%{
		opacity: 1;
		stroke-dasharray: 183;
		stroke-dashoffset: 0;
		transform: rotate(-90deg) scale(1.0);
	}
	90%,100%{
		opacity: 0;
		stroke-dasharray: 500 500;
		transform: rotate(-90deg) scale(2.0);
	}
}

@keyframes fill{

	0%{
		background: transparent;
		border-color: #fff;
	}
	100%{
		background-color: #fff;
	}
}

@keyframes check{

	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}