*{box-sizing:border-box;margin:0;padding:0;}

body,html{height:100%;}

.container{
	align-items: center;
	max-width: 400px;
	text-align: center;
	width: 100%;
	margin: 100px auto;
}

.grid{
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 400px;
}