.box > table{
	overflow-x: auto;
	min-width: 0;
}

table{
	background-color: #FFF !important;
	border: 1px solid #CCC;
}

table.calendar td{
	background-color: #FFF;
	border: 1px solid #CCC;
	cursor: pointer;
	text-align: center;
	width: calc(100% / 7);
}



table.calendar tr:nth-of-type(1) td{
	background: #0091EA;
}

table.calendar td.day-selected{
	background: #E2E2E2;
}

.calendar{
	background-color: #0091EA;
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	margin: 10px 0;
	padding: 5px;
	width: 100%;
}

h2.calendar{
	font-size: 18px;
}

.task{
	background-color: #F4B03E;
	border: 4px solid #FFF;
	color: #FFF;
	float: left;
	width: 33.3%;
}

.task h3{
	font-size: 16px;
	font-weight: 300;
	padding: 0 8px;
}