<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="utf-8" />
		<title>Menu Responsivo</title>
		<link rel="stylesheet" type="text/css" href="css/font-awesomen.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body>

		<header>
			<div class="container">

			<div class="logo">
				<h2>Logomarca</h2>
			</div><!--logo-->

			<nav class="menu-mobile">
				<i class="fa fa-bars"></i>
				<ul>
					<li>
						<a href="">Home</a>
						<ul class="submenu-mobile">
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 1</a></li>
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 2</a></li>
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 3</a></li>
						</ul>
					</li>
					<li>
						<a href="">Sobre</a>
						<ul class="submenu-mobile">
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 1</a></li>
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 2</a></li>
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 3</a></li>
						</ul>
					</li>
					<li>
						<a href="">Contato</a>
						<ul class="submenu-mobile">
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 1</a></li>
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 2</a></li>
							<li><i class="fa fa-angle-double-right"></i><a href="#">Sessao 3</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<nav class="menu-desktop">
				<ul>
					<li>
						<a href="#">Home</a>
						<ul class="submenu-desktop">
							<li><a href="#">Sessao 1</a></li>
							<li><a href="#">Sessao 2</a></li>
							<li><a href="#">Sessao 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Sobre</a>
						<ul class="submenu-desktop">
							<li><a href="#">Sessao 1</a></li>
							<li><a href="#">Sessao 2</a></li>
							<li><a href="#">Sessao 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Contato</a>
						<ul class="submenu-desktop">
							<li><a href="#">Sessao 1</a></li>
							<li><a href="#">Sessao 2</a></li>
							<li><a href="#">Sessao 3</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<div class="clear"></div><!--clear-->

			</div><!--container-->
		</header>


		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
			$('nav.menu-mobile i').click(function(){
				$(this).parent().find('ul:not(.submenu-mobile)').slideToggle();
			});
		</script>

	</body>
</html>