/* Reset Padrão --------------------------------------------------- */
*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

html,body{
	background: rgb(225,225,225);
	height: 100%;
}

body{
	overflow-x: hidden;
}

input:focus, textarea:focus, select:focus{
	outline: 0;
}
/* ---------------------------------------------------------------- */

/* Boot ----------------------------------------------------------- */
.center{
	margin: 0 auto;
	padding: 0 2%;
	text-align: center;
}
.clear{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

.w49{
	width: 49%;
}

.w50{
	width: 50%;
}

.w100{
	width: 100%;
}
/* ---------------------------------------------------------------- */

/* Login  --------------------------------------------------------- */
.login{
	background-color: #FFF;
	box-shadow: 10px 10px 5px rgb(200,200,200);
	left: 50%;
	max-width: 600px;
	padding: 60px 2%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 95%;
}

.login h2{
	color: #000;
	font-size: 19px;
	font-weight: 400;
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

.login input[type=text],
.login input[type=password]{
	border: 1px solid #CCC;
	height: 40px;
	margin-top: 8px;
	padding-left: 8px;
	width: 100%;
}

.login .form-box:nth-of-type(2){
	position: relative;
	top: 15px;
}

.login .form-box label{
	color: #000;
	font-size: 13px;
	font-weight: 300;
	padding-right: 6px;
}

.login input[type=submit]{
	background-color: #00BFA5;
	border: 0;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	height: 40px;
	margin-top: 10px;
	width: 100px;
}

.login-error{
	background-color: #F75353;
	color: #FFF;
	font-size: 15px;
	padding: 8px 2%;
	text-align: center;
	width: 100%;
}
/* ---------------------------------------------------------------- */

/* Painel > Menu -------------------------------------------------- */
.menu{
	background: #455A64;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 250px;
}

.wraper{
	width: 250px;
}

.user{
	text-align: center;
}

.user .img{
	display: inline-block;
	height: 130px;
	width: 130px;
}

.user .img img{
	border: 3px solid #2F3D42;
	border-radius: 50%;
	display: inline-block;
	height: 130px;
	position: relative;
	width: 130px;
}

.avatar{
	border-radius: 50%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.avatar i{
	color: #2F3D42;
	font-size: 50px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.name{
	margin-top: 10px;
	text-align: center;
}

.name p{
	color: #FFF;
	font-size: 15px;
	font-weight: 400;
}

.itens{
	margin-top: 30px;
}

.itens h2{
	background-color: #2F3D42;
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	padding: 8px;
	text-align: left;
}

.itens a{
	border-bottom: 2px solid #2F3D42;
	color: #FFF;
	display: block;
	font-size: 16px;
	font-weight: 300;
	padding: 8px;
	text-decoration: none;
}

.selected{
	background: #3A4B51;
}

.selected::before{
	content: '» ';
}
/* ---------------------------------------------------------------- */

/* Painel > Header ------------------------------------------------ */
header{
	background-color: #78909C;
	left: 250px;
	margin-bottom: 15px;
	padding: 10px 0;
	position: relative;
	width: calc(100% - 250px);
}

.menu-button{
	color: #FFF;
	cursor: pointer;
	font-size: 23px;
}

.loggout a{
	color: #FFF;
	font-size: 17px;
	padding: 0 20px;
	position: relative;
	text-decoration: none;
	top: 3px;
}

.loggout a.home{
	background-color: #60727A;
	padding: 15px 20px;
}

.loggout a > span{
	font-size: 17px;
	font-weight: 300;
	text-decoration: none;
}
/* ---------------------------------------------------------------- */

/* Painel > Conteúdo ---------------------------------------------- */
.container{
	left: 250px;
	padding: 2%;
	position: relative;
	width: calc(100% - 250px);
}

.box{
	background-color: #FFF;
	margin-bottom: 25px;
	padding: 30px;
}

.box h2{
	font-size: 22px;
	font-weight: 300;
}

.alert{
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	padding:8px 0;
	text-align: center;
	width: 100%;
}

.error{
	background-color: #ED7474;
	border: 2px solid #EB5050;
}

.success{
	background-color: #B3FFB5;
	border: 2px solid #8AFF8D;
}
/* ---------------------------------------------------------------- */

/* Painel > Métricas ---------------------------------------------- */
.metrics{
	margin-top:16px;
	padding:0 15px;
}

.metric{
	background: #F4B03E;
	border: 5px solid #FFF;
	position: relative;
	width: 33.3%;
}

.metrics .metric:nth-of-type(2){
	background: #E05C4E;
}

.metrics .metric:nth-of-type(3){
	background: #0091EA;
}

.metrics .metric .wraper{
	color: #FFF;
	padding: 10px 20px;
	text-align: left;
}

.metrics .metric .wraper h2{
	font-size: 27px;
}

.metrics .metric .wraper p{
	font-size: 25px;
	padding: 10px 0;
}
/* ---------------------------------------------------------------- */

/* Painel > Usuários ---------------------------------------------- */
.table{
	font-weight: 300;
	margin: 20px auto;
	max-width: 1280px;
}

.table .row{
	border-bottom: 1px solid #CCC;
	color: #777;
	padding: 8px;
}

.table .row:nth-of-type(1){
	background: #00BFA5;
	color: #FFF;
	font-weight: normal;
	padding: 10px;
}
/* ---------------------------------------------------------------- */

/* Painel > Editar ------------------------------------------------ */
.box form{
	margin: 30px 0;
}

.box form .group{
	margin: 15px 0;
}

.box form label{
	color: #000;
	display: #000;
	font-size: 17px;
	font-weight: 300;
}

.box form input,
.box form select,
.box textarea{
	border: 1px solid #CCC;
	margin-top: 8px;
	width: 100%
}

.box form textarea{
	height: 150px;
	padding: 8px;
	resize: vertical;
}

.box form input[type="text"],
.box form input[type="password"],
.box form select,
.box textarea {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	padding-left: 8px; 
}

.box form input[type="file"]{
	padding: 8px;
}

.box form .group > input[type="submit"]{
	background-color: #00BFA5;
	border: 0;
	color: #FFF;
	cursor: pointer;
	font-size: 16px;
	height: 40px;
	margin-top: 10px;
	min-width: 100px;
	padding: 5px 10px;
	width: auto;
}
/* ---------------------------------------------------------------- */

/* Painel > Listar ------------------------------------------------ */
.box .wraper-table{
	overflow-x: auto;
}

.box table{
	border-collapse: collapse;
	font-weight: 300;
	margin: 20px 0;
	min-width: 900px;
	width: 100%;
}

.box table tr:nth-of-type(1){
	background-color: #0091EA;
	color: #FFF;
}

.box table tr{
	border-bottom: 1px solid #CCC;
	color: #555;
}

.box table tr td{
	padding: 8px;
}

.box table tr td a{
	background: #0091EA;
	border-radius: 5px;
	color: #FFF;
	font-size: 13px;
	padding: 4px 6px;
	text-decoration: none;
}

.box table tr td a.edit{
	background-color: #F4B03E;
}

.box table tr td a.del{
	background-color: #E05C4E;
}

.box table tr td a.pay{
	background-color: #00BFA5;
}

.box table tr td img{
	height: 50px;
	width: 50px;
}
/* ---------------------------------------------------------------- */

/* Painel > Search ------------------------------------------------ */
.search{
	background-color: #0091EA;
	margin: 10px 0;
	padding: 8px 10px;
	width: 100%;
}

.search form{
	margin: 0;
}

.search h3{
	color: #FFF;
	font-size: 23px;
	font-weight: 300;
}

.search h3 i{
	padding-right: 10px;
}

.search input[type=submit]{
	background-color: #00BFA5;
	border: 0;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	height: 40px;
	margin-top: 10px;
	min-width: 100px;
	width: auto;
}

.search-result{
	color: #646464;
	width: 100%;
}

.search-result p{
	border-bottom: 3px solid #CCC;
	font-size: 16px;
	max-width: 260px;
}
/* ---------------------------------------------------------------- */

/* Painel > Listar Boxes ------------------------------------------ */
.boxes{
	display: flex;
	flex-wrap: wrap;
}

.boxes .boxes-wraper{
	padding: 20px;
	width: 33.3%;
}

.boxes .boxes-wraper .box-single{
	border: 1px solid #CCC;
	height: 100%;
	overflow-x: auto;
	width: 100%;
}

.boxes .boxes-wraper .box-single .top{
	border-bottom: 1px solid #CCC;
	color: #CCC;
	padding: 8px 0;
	text-align: center;
}

.boxes .boxes-wraper .box-single .top img{
	display: block;
	margin: 0 auto;
	max-width: 150px;
}

.boxes .boxes-wraper .box-single .top h2{
	font-size: 36px;
}

.boxes .boxes-wraper .box-single .body{
	padding: 10px;
}

.boxes .boxes-wraper .box-single .body p{
	color: #646464;
	font-size: 15px;
	margin-bottom: 8px;
}

.boxes .boxes-wraper .box-single .body .buttons{
	margin-top: 15px;
}

.boxes .boxes-wraper .box-single .body .buttons a{
	color: #FFF;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none;
}

.boxes .boxes-wraper .box-single .body .buttons a.edit{
	background-color: #F4B03E;
}

.boxes .boxes-wraper .box-single .body .buttons a.del{
	background-color: #E05C4E;
}

/* ---------------------------------------------------------------- */

/* Painel > PDF Generator ----------------------------------------- */
.pdf{
	max-width: 150px;
}

.pdf a{
	background-color: #E05C4E;
	border: 0;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	height: 30px;
	margin-top: 10px;
	padding: 5px 10px;
	text-decoration: none;
	width: auto;
	/*width: 100px;*/
}

.pdf a i{
	padding-right: 5px;
}
/* ---------------------------------------------------------------- */

/* Painel > Paginacao --------------------------------------------- */
.pagination{
	margin:20px 0;
	text-align: center;
}

.pagination a{
	border: 1px solid #CCC;
	color: #666;
	display: inline-block;
	font-size: 14px;
	margin: 0 8px;
	padding: 3px 4px;
	text-decoration: none;
}

.pagination a.sel{
	background: rgb(220,220,220);
}
/* ---------------------------------------------------------------- */

/* Responsive ----------------------------------------------------- */
@media screen and (max-width: 1080px){

	.metric{
		text-align: center;
		width: 100%;
	}

	.metrics .metric .wraper h2{
		display: inline-block;
		font-size: 21px;
		padding-right: 10px;
	}

	.metrics .metric .wraper p{
		display: inline-block;
		font-size: 19px;
	}

	.boxes .boxes-wraper{
		min-height: 0;
		width: 100%;
	}
}

@media screen and (max-width: 500px){

	.loggout a{
		font-size: 15px;
		padding: 0 10px;
		position: relative;
		top: 5px;
	}

	.loggout a.home{
		padding: 15px 10px;
	}

	.loggout a > span{
		font-size: 15px;
	}

	.w49, .w50{
		width: 100%;
	}

	.metric{
		padding: 10% 0;
	}

	.box h2{
		font-size: 20px;
	}
}

@media screen and (max-width: 400px){

	.menu .wraper{
		width: 200px;
	}
}

@media screen and (max-width: 380px){

	.items a{
		font-size: 15px;
	}
}
/* ---------------------------------------------------------------- */