*{box-sizing:border-box;margin:0;padding:0;}

body,html{height:100%;}

.container{
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
	width: 100%;
}

.container h2{padding:20px;}

.grid{
	border: 1px solid #000;
	display: flex;
	flex-wrap: wrap;
	height: 302px;
	margin: 0 auto 20px auto;
	width: 302px;
}

.grid div{
	border: 1px solid #fff;
	height: 30px;
	width: 30px;
}

.score{
	border: 1px solid #000;
	width: 100px;
	font-size: 20px;
	margin: 10px auto;
	padding: 10px;
}

.snake{
	background-color: blue;
	border-radius: 7px;
}

.apple{
	background-color: red;
	border-radius: 50%;
}

.snake-head{
	background-color: purple;
	border-radius: 10px;
}