/* Painel > Listar Boxes ------------------------------------------ */
/* Clients / Products  -------------------------------------------- */
.boxes{
	display: flex;
	flex-wrap: wrap;
}

.boxes .boxes-wraper{
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	width: 33.3%;
}

.boxes .boxes-wraper-inside{
	border: 1px solid #CCC;
}

.boxes .boxes-wraper .box-single,
.boxes .boxes-wraper .box-single-divide{
	border: 1px solid #CCC;
	height: 100%;
	max-height: 600px;
	overflow-x: auto;
	width: 100%;
}

.boxes .boxes-wraper .box-single-divide{
	border: 0;
	width: 100%;
}

.boxes .boxes-wraper .boxes-imgs{
	float: right;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}

.boxes .boxes-wraper .boxes-imgs img,
.boxes .boxes-wraper .boxes-imgs h2{
	color: #ccc;
	text-align: center;
	width: 100%;
}

.boxes .boxes-wraper .boxes-imgs img.img-square,
.boxes .boxes-wraper .boxes-imgs h2 i{
	display: block;
	font-size: 170px;
	height: 95%;
	margin: 5px auto;
	max-height: 300px;
	max-width: 300px;
	width: 95%;
}

.boxes .boxes-wraper .box-single .top{
	border-bottom: 1px solid #CCC;
	color: #CCC;
	padding: 8px 0;
	text-align: center;
}

.boxes .boxes-wraper .box-single .top img{
	display: block;
	margin: 0 auto;
	max-width: 150px;
}

.boxes .boxes-wraper .box-single .top h2{
	font-size: 36px;
}

.boxes .boxes-wraper .box-single .body,
.boxes .boxes-wraper .box-single-divide .body{
	padding: 10px;
	word-break: break-all;
}

.boxes .boxes-wraper .box-single .body p,
.boxes .boxes-wraper .box-single-divide .body p{
	color: #646464;
	font-size: 15px;
	margin-bottom: 8px;
}

.boxes .boxes-wraper .box-single .body span,
.boxes .boxes-wraper .box-single-divide .body span{
	color: #646464;
	display: block;
	font-size: 15px;
	margin-bottom: 8px;
	padding-left: 25px;
	border-bottom: 1px dashed #EEE;
}

.boxes .boxes-wraper .box-single .body p i,
.boxes .boxes-wraper .box-single-divide .body p i{
	text-align: center;
	width: 20px;
}

.boxes .boxes-wraper .box-single .body .buttons,
.boxes .boxes-wraper .box-single-divide .body .buttons,
.boxes .boxes-wraper .box-single .body .buttons-middle,
.boxes .boxes-wraper .box-single-divide .body .buttons-middle{
	margin-top: 15px;
	text-align: center;
}

.boxes .boxes-wraper .box-single .body .buttons a,
.boxes .boxes-wraper .box-single-divide .body .buttons a,
.boxes .boxes-wraper .box-single .body .buttons-middle a,
.boxes .boxes-wraper .box-single-divide .body .buttons-middle a{
	color: #FFF;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none;
}

.boxes .boxes-wraper .box-single .body .buttons a.edit,
.boxes .boxes-wraper .box-single-divide .body .buttons a.edit{
	background-color: #F4B03E;
}

.boxes .boxes-wraper .box-single .body .buttons a.del,
.boxes .boxes-wraper .box-single .body .buttons a.delete,
.boxes .boxes-wraper .box-single-divide .body .buttons a.del,
.boxes .boxes-wraper .box-single-divide .body .buttons a.delete{
	background-color: #E05C4E;
}

.boxes .boxes-wraper .box-single .body .buttons-middle,
.boxes .boxes-wraper .box-single-divide .body .buttons-middle{
	border-bottom: 1px dashed #EEE;
	padding: 8px 0;
}

.boxes .boxes-wraper .box-single .body .buttons-middle > form,
.boxes .boxes-wraper .box-single-divide .body .buttons-middle > form{
	margin: 0;
	padding: 0;
	text-align: center;
}

.boxes .boxes-wraper .box-single .body .buttons-middle form > input[type=number],
.boxes .boxes-wraper .box-single-divide .body .buttons-middle form > input[type=number]{
	width: 100%;
	max-width: 100%;
}

.boxes .boxes-wraper .box-single .body .buttons-middle form > input[type=submit],
.boxes .boxes-wraper .box-single-divide .body .buttons-middle form > input[type=submit]{
	background-color: #0091EA;
	border: 0;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	max-width: 100%;
	padding: 3px 8px;
	width: auto;
}
/* ---------------------------------------------------------------- */

/* Edit Products  ------------------------------------------------- */
.boxes-title{
	background-color: #0091EA;
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	margin: 10px 0;
	padding: 5px;
	width: 100%;
}

.boxes-title i{
	padding: 0 10px;
}

.box .boxes-flex{
	display: flex;
	flex-wrap: wrap;
}

.box .boxes-flex > .boxes-wraper{
	padding: 20px;
	width: 33.3%;
}

.box .boxes-flex  .boxes-wraper-inside{
	border: 1px solid #CCC;
	width: 100%;
	height: 100%;
}

.box .boxes-flex > .boxes-wraper .box-single,
.box .boxes-flex > .boxes-wraper .box-single-divide{
	overflow-x: auto;
	width: 100%;
}

.box .boxes-flex > .boxes-wraper .box-single-divide{
	border: 0;
	border-right: 1px dotted #CCC;
	width: 100%;
}

.box .boxes-flex > .boxes-wraper .boxes-imgs{
	padding: 10px 15px;
	width: 100%;
}

.box .boxes-flex > .boxes-wraper .boxes-imgs img{
	width: 100%;
}

.box .boxes-flex > .boxes-wraper .boxes-imgs img.img-square{
	display: block;
	margin: 0 auto;
	max-height: 250px;
	max-width: 250px;
	width: 90%;
	height: 90%;
}

.box .boxes-flex > .boxes-wraper .box-single .top{
	border-bottom: 1px solid #CCC;
	color: #CCC;
	padding: 8px 0;
	text-align: center;
}

.box .boxes-flex > .boxes-wraper .box-single .top img{
	display: block;
	margin: 0 auto;
	max-width: 150px;
}

.box .boxes-flex > .boxes-wraper .box-single .top h2{
	font-size: 36px;
}

.box .boxes-flex > .boxes-wraper .box-single .body,
.box .boxes-flex > .boxes-wraper .box-single-divide .body{
	padding: 10px;
	word-break: break-all;
}

.box .boxes-flex > .boxes-wraper .box-single .body p,
.box .boxes-flex > .boxes-wraper .box-single-divide .body p{
	color: #646464;
	font-size: 15px;
	margin-bottom: 8px;
}

.box .boxes-flex > .boxes-wraper .box-single .body span,
.box .boxes-flex > .boxes-wraper .box-single-divide .body span{
	border-bottom: 1px dashed #EEE;
	color: #646464;
	display: block;
	font-size: 15px;
	margin-bottom: 8px;
	padding-left: 25px;
}

.box .boxes-flex > .boxes-wraper .box-single .body p i,
.box .boxes-flex > .boxes-wraper .box-single-divide .body p i{
	text-align: center;
	width: 20px;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons,
.box .boxes-flex > .boxes-wraper .box-single .body .buttons-middle,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons-middle{
	margin-top: 15px;
	text-align: center;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons a,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons a,
.box .boxes-flex > .boxes-wraper .box-single .body .buttons-middle a,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons-middle a{
	color: #FFF;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons a.edit,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons a.edit{
	background-color: #F4B03E;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons a.del,
.box .boxes-flex > .boxes-wraper .box-single .body .buttons a.delete,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons a.del,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons a.delete{
	background-color: #E05C4E;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons-middle,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons-middle{
	border-bottom: 1px dashed #EEE;
	padding: 8px 0;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons-middle > form,
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons-middle > form{
	margin: 0;
	padding: 0;
	text-align: center;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons-middle form > input[type=number],
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons-middle form > input[type=number]{
	width: 100%;
	max-width: 100%;
}

.box .boxes-flex > .boxes-wraper .box-single .body .buttons-middle form > input[type=submit],
.box .boxes-flex > .boxes-wraper .box-single-divide .body .buttons-middle form > input[type=submit]{
	background-color: #0091EA;
	border: 0;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	max-width: 100%;
	padding: 3px 8px;
	width: auto;
}
/* Responsive ----------------------------------------------------- */
@media screen and (max-width: 1080px){

	.boxes .boxes-wraper,
	.box .boxes-flex > .boxes-wraper{
		min-height: 0;
		width: 100%;
	}

	.boxes .boxes-wraper .boxes-imgs h2 i{
		font-size: 100px;
	}
}

@media screen and (max-width: 500px){

	.boxes .boxes-wraper .boxes-imgs,
	.box .boxes-flex > .boxes-wraper .boxes-imgs{
		width: 100%;
	}

	.boxes .boxes-wraper .box-single-divide,
	.box .boxes-flex > .boxes-wraper .box-single-divide{
		width: 100%;
	}
}