*{box-sizing:border-box;margin:0;padding:0;}

body,html{background-color:linear-gradient(-45deg,#ccc,#bbb,#aaa,#999);height:100%;}

.container{
	height: 100%;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	width: 100%;
}

.grid{
	border: 2px solid #000;
	display: flex;
	flex-wrap: wrap;
	height: 244px;
	left: 50%;
	margin-top: 20px;
	top: 30%;
	transform: translate(-50%,-50%);
	position: relative;
	width: 284px;
}

.grid div{
	height: 40px;
	width: 40px;
}

.player-one {
	background-color: red;
	border-radius: 50%;
}

.player-two {
	background-color: blue;
	border-radius: 50%;
}