<!DOCTYPE html>
<html lang="pt-br">

	<head>

		<meta charset="utf-8">
		<title>Login Form</title>
		<link rel="stylesheet" type="text/css" href="css/fontawesome.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />

	</head>

	<body>

		<main>
			
			<section class="login">
				
				<div class="logo"></div><!--logo-->
				<h2 class="title">Dashboard</h2><!--title-->
				<h2 class="subtitle">Willian Ayres</h2><!--subtitle-->
				<form>
					<div class="username">
						<input class="user" type="username" name="username" placeholder="Username" required />
					</div><!--username-->
					<div class="password">
						<input class="pass" type="password" name="password" placeholder="password" required />
					</div><!--password-->
					<input type="submit" name="login" value="Login" />
					<div class="link">
						<a href="#">Forgot password?</a> or <a href="#">Sign Up</a>
					</div><!--link-->
				</form>

			</section><!--login-->

		</main>

		<script type="text/javascript" src="js/index.js"></script>

	</body>

</html>