*{box-sizing:border-box;margin:0;padding:0;}

body,html{background:#111;height:100%;}

.password-wrapper{
    height: 55px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
}

.password-wrapper input{
    background-color: #fff;
    border: none;
    border-radius: 15px;
    color: #111;
    font-size: 18px;
    height: 100%;
    outline: none;
    width: 100%;
    padding-left: 15px;
}

.password-wrapper input::placeholder{
    color: #111;
    font-size: 17px;
    opacity: 0.8;
}

.password-wrapper span{
    color: #111;
    cursor: pointer;
    display: none;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.password-wrapper input:valid~span{
    display: block;
}

.password-wrapper span i.hide-password::before{
    content: "\f070";
}
