/* Painel > Search ------------------------------------------------ */
.search{
	background-color: #0091EA;
	margin: 10px 0;
	padding: 8px 10px;
	width: 100%;
}

.search form{
	margin: 0;
}

.search h3{
	color: #FFF;
	font-size: 23px;
	font-weight: 300;
}

.search h3 i{
	padding-right: 10px;
}

.search input[type=submit]{
	background-color: #00BFA5;
	border: 0;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	height: 40px;
	margin-top: 10px;
	min-width: 100px;
	width: auto;
}

.search-result{
	color: #646464;
	width: 100%;
}

.search-result p{
	border-bottom: 3px solid #CCC;
	font-size: 16px;
	max-width: 260px;
}
/* ---------------------------------------------------------------- */