/* Reset de arquivo */
*{
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
}

html,body{height:100%;}

.clear{clear:both;}

.container{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}
/***/

/***** PÁGINA PRINCIPAL *****/

/* Cabeçalho */
header{
	height: 130px;
	padding: 20px 2% 35px 2%;
}

header .logo{float:left;}

header nav.desktop{
	float: right;
	position: relative;
	top: 40px;
}

nav.mobile{
	background-image: url('../imagens/icon_menu.png');
	background-size: 100% 100%;
	cursor: pointer;
	display: none;
	float: right;
	height: 32px;
	margin-top: 40px;
	width: 32px;
}

nav.mobile ul{
	background-color: white;
	border-bottom: 4px solid #EB2D2D;
	display: none;
	margin-top: 10px;
	left: 0;
	opacity: 0.95;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 100%;
	z-index: 100;
}

nav.mobile ul li{
	border-bottom: 1px solid rgba(235, 45, 45, 0.4);
	color: black;
	font-size: 23px;
	font-style: italic;
	padding: 20px 0;
	text-transform: uppercase;
}

nav.mobile ul li a{
	color: black;
	text-decoration: none;
}

header nav.desktop ul{list-style-type:none;}

header nav.desktop ul li{
	float: left;
	font-size: 23px;
	font-style: italic;
	padding: 0 30px;
	text-transform: uppercase;
}

header nav.desktop a{
	color: black;
	text-decoration: none;
}
/***/

/* Sessão do Banner*/
section.banner{
	background-color: black;
	background-image: url('../imagens/bg.jpg');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
	height: 650px;
	overflow:hidden;
	width: 100%;
}

.text-banner{padding:100px;}

.text-banner-single{
	color: white;
	font-size: 23px;
	font-style: italic;
	height: 60px;
	margin-top: 20px;
	padding: 12px 30px;
	text-transform: uppercase;
	width: 314px;
}

.text-banner .text-banner-single:nth-of-type(1){
	background-image: url('../imagens/box-text.png');
	background-size: 100% 100%;
	width: 314px;
}

.text-banner .text-banner-single:nth-of-type(2){
	background-image: url('../imagens/box-text2.png');
	background-size: 100% 100%;
	left: -8px;
	position: relative;
	width: 221px;
}

.text-banner .text-banner-single:nth-of-type(3){
	background-image: url('../imagens/box-text3.png');
	background-size: 100% 100%;
	left: -16px;
	position: relative;
	width: 190px;
}

.text-banner .text-banner-single:nth-of-type(4){
	background-image: url('../imagens/box-white-text.png');
	background-size: 100% 100%;
	color: black;
	font-size: 21px;
	left: -24px;
	position: relative;
	width: 487px;
}
/***/

/* Sessão de Destaques */
section.veiculos-destaque{padding:90px 2%;}

section.veiculos-destaque .container{
	padding: 40px 0;
	max-width: 1000px;
}

.line-titulo{
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	text-align: center;
}

.ln1{
	background: black;
	height: 2px;
	position: absolute;
	top: 20px;
	width: 100%;
}

.line-titulo h2{
	background: white;
	display: inline-block;
	font-size: 27px;
	font-style: italic;
	padding: 0 20px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.vitrine-destaque{
	float: left;
	width: 33.3%;
}

.vitrine-destaque .carro-img{
	background-size: 100% 100%;
	border: 8px solid white;
	padding-top: 100%;
	width: 100%;
}

.vitrine-destaque h2{
	color: black;
	font-size: 20px;
	font-style: italic;
	padding-left: 8px;
}

.vitrine-destaque p{
	color: #353535;
	font-size: 15px;
	font-style: italic;
	padding-left: 8px;
	padding-top: 8px;
}

.btn1{
	background-color: #EB2D2D;
	border-bottom: 3px solid #B21E1E;
	border-top: 3px solid #FF8181;
	color: white;
	display: block;
	font-size: 17px;
	font-syle: italic;
	letter-spacing: 1px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	width: 153px;
}

.vitrine-destaque a{margin:10px 0 0 10px;}
/***/

/* Sessão de Serviços/Depoimentos*/
.servicos-descricao{display:flex;}

.pt1{
	background: #242424;
	color: white;
	padding: 90px 0;
	text-align: right;
	width: 50%;
}

.pt1-wraper{
	display: inline-block;
	padding-right: 20%;
	text-align: left;
}

.pt1-wraper h2{
	font-size: 32px;
	font-style: italic;
	font-weight: normal;
}

.pt1-wraper ul{
	display: inline-block;
	margin-top: 20px;
}

.pt1-wraper li{margin-left:15px;}


.pt1-wraper a{
	display: inline-block;
	margin-left: 40px;
	vertical-align: bottom;
	width: 126px;
}

.pt2{
	background: #EB2D2D;
	color: white;
	padding: 90px 100px;
	width: 50%;
}

.pt2 h2{
	font-size: 32px;
	font-style: italic;
	font-weight: normal;
}

.pt2 .depoimento-single{margin-top:19px;}

.depoimento-single p{font-size:22px;}

.navigation{
	float: left;
	margin-top: 30px;
	max-width: 700px;
	width: 100%;
}

.navigation img{
	cursor: pointer;
	margin: 0 20px;
}

.arrows{float:left;}

.nome-depoimento{
	color: #252525;
	float: right;
	font-size: 23px;
}
/***/

/* Sessão de Contato */
section.contato{padding:80px 2% 0 2%;}

section.contato .titulo-container{
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

section.contato form{
	max-width: 600px;
	margin: 30px auto;
}

section.contato .input-wraper{
	float: left;
	margin-top: 7px;
	padding: 10px;
}

section.contato input[type=name],
section.contato input[type=e-mail],
section.contato input[type=telefone]{
	border: 1px solid #ccc;
	font-size: 16px;
	height: 60px;
	line-height: 40px;
	padding-left: 15px;
	width: 100%;
}

section.contato textarea{
	border: 1px solid #ccc;
	font-size: 16px;
	height: 140px;
	padding: 8px;
	resize: none;
	width: 100%;
}

section.contato input[type=submit]{
	border: 0;
	border-bottom: 3px solid #B21E1E;
	border-top: 3px solid #FF8181;
	cursor: pointer;
	font-style: italic;
	letter-spacing: 1px;
	margin: 10px auto;
	text-transform: uppercase;
}

.w100{width:100%;}

.w50{width:50%;}
/***/

/* Rodapé */
footer{
	background: #252525;
	margin-top: 20px;
	padding: 40px 2%;
}

footer nav{float:left;}

footer nav ul{list-style-type:none;}

footer nav ul li{
	float: left;
	font-size: 19px;
	font-style: italic;
	padding: 0 25px;
	text-transform: uppercase;
}

footer nav ul li a{
	color: white;
	text-decoration: none;
}

footer p{
	color: white;
	float: right;
	font-size: 19px;
	font-style: italic;
}
/***/

/***** FINAL DA PÁGINA PRINCIPAL *****/

/***** PÁGINA DE VENDAS *****/
.line-container .line-titulo{
	max-width: 1280px;
	width: 100%;
}

section.venda{padding:90px 2%;}

.content-venda{margin-top:40px;}

.sidebar{
	float: left;
	width: 30%;
}

.search1{
	max-width: 300px;
	width: 30%;
}

.search1 h2{
	color: black;
	font-size: 24px;
	font-weight: normal;
}

.search1 .barra-preco{
	background: white;
	border: 1px solid #ccc;
	border-radius: 20px;
	height: 20px;
	margin-top: 8px;
	position: relative;
	width: 100%;
}

.barra-preco-fill{
	background: linear-gradient(to bottom, white, rgb(200,200,200));
	border-radius: 20px;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}

.pointer-barra{
	background: linear-gradient(to bottom, white, rgb(180,180,180));
	border: 1px solid #777;
	border-radius: 8px;
	cursor: pointer;
	height: 26px;
	left: 0;
	position: absolute;
	top: -3px;
	width: 26px;
}

.venda-pesquisa{margin-top:8px;}

.venda-pesquisa{
	color: black;
	font-size: 15px;
}

.venda-pesquisa p:nth-of-type(1){float:left;}

.venda-pesquisa p:nth-of-type(2){float:right;}

.search2{
	float: left;
	margin-top: 40px;
}

.search2 h2{
	color: black;
	font-size: 24px;
	font-weight: normal;
}

.form-venda-wraper{margin-top:10px;}

.form-venda-wraper input[type=checkbox]{display:none;}

.form-venda-wraper label{
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	position: relative;
	vertical-align: top;
	width: 20px;
}

.circle{
	background: black;
	border-radius: 4px;
	display: none;
	height: 8px;
	left: 6px;
	position: absolute;
	top: 6px;
	width: 8px;
}

.form-venda-wraper input[type=checkbox]:checked + label > .circle{display:block;}

.form-venda-wraper span{
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
}

.vitrine-venda{
	float: right;
	left: 0;
	overflow: hidden;
	position: relative;
	top: -75px;
	width: 70%;
}

.vitrine-venda .vitrine-destaque{margin-bottom:20px;}

/***** FINAL DA PÁGINA DE VENDAS *****/

/***** PÁGINA DE VENDA UNITÁRIA *****/
section.venda-single{
	margin-top: 10px;
	padding: 80px 2% 0 2%;
}

section.venda-single .line-titulo{max-width:1000px;}

section.venda-single .container{
	max-width: 1280px;
	padding: 40px 0 0 0;
	text-align: center;
}

.info-veiculo{
	display: inline-block;
	width: 60%;
}

.info-bread{
	padding: 20px 0;
	text-align: left;
}

.info-bread a{
	color: black;
	text-decoration: none;
}

.info-bread a:last-child{color:red;}

.info-bread span{padding:0 30px;}

.foto-destaque{
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 70%;
	width: 100%;
}

.descricao-veiculo{
	display: inline-block;
	padding: 60px 20px;
	text-align: left;
	vertical-align: top;
	width: auto;
}

.descricao-veiculo p{
	font-size: 17px;
	margin-top: 25px;
	max-width: 200px;
}

.descricao-veiculo a{margin-top:25px;}

.nav-galeria-parent{
	padding: 36px;
	position: relative;
	width: 100%;
}

.arrow-left-nav{
	background-image: url('../imagens/arrow-left.png');
	background-size: 100% 100%;
	cursor: pointer;
	height: 22px;
	left: 8px;
	position: absolute;
	top: calc(50% - 11px);
	width: 22px;
}

.arrow-right-nav{
	background-image: url('../imagens/arrow-right.png');
	background-size: 100% 100%;
	cursor: pointer;
	height: 22px;
	position: absolute;
	right: 8px;
	top: calc(50% - 11px);
	width: 22px;
}

.nav-galeria{
	overflow: hidden;
	width: 100%;
}

.mini-img-wraper{
	float: left;
	padding: 9px;
}

.mini-img{
	background-position: center;
	background-size: cover;
	cursor: pointer;
	padding-top: 70%;
	width: 100%;
}
/***** FIM DA PÁGINA DE VENDA UNITÁRIA *****/

/***** PÁGINA SOBRE *****/
section.sobre{
	min-height: 90%;
	padding: 90px 2%;
}

section.sobre .line-titulo{max-width:1280px;}

section.sobre .container{
	margin-top: 30px;
	max-width: 840px;
}

section.sobre .img-destaque-sobre{
	background-color: rgb(220,220,220);
	padding-top: 60%;
	width: 100%;
}

section.sobre .descricao-autor{margin-top:20px;}

.descricao-autor h2{font-size:24px;}

.descricao-autor p{
	font-size: 16px;
	line-height: 28px;
	margin-top: 10px;
}

.descricao-autor2{margin-top:40px;}

.img-small{
	background-color: rgb(220,220,220);
	float: left;
	padding-top: 30%;
	width: 30%;
}

.descricao-autor3{
	float: left;
	line-height: 28px;
	padding: 15px;
	width: 70%;
}

/***** FIM DA PÁGINA SOBRE ******/

/***** PÁGINA DE GALERIA *****/
section.eventos{
	min-height: 90%;
	padding: 90px 2%;
}

section.eventos .line-titulo{max-width:1280px;}

section.eventos .container{
	margin: 60px auto 20px auto;
	max-width: 1000px;
}

.event-wraper{
	background-color: rgb(193,193,193);
	margin-top: 10px;
	padding-top: 50%;
	position: relative;
	width: 100%;
}

.event-padding{
	height: 100%;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 100%;
}

.event-img{
	background-image: url('../imagens/carro.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	padding: 0 2%;
	width: 100%;
}

.event-img > .btn1{
	border: 0;
	bottom: 10%;
	font-size: 23px;
	font-style: italic;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
}

.event-container{
	margin: 0 auto;
	max-width: 1016px;
	width: 100%;
}

.event-imgs{
	float: left;
	width: 25%;
}

.event-imgs-single{
	float: left;
	width: 100%;
}

.galeria-imgs{
	background-color: rgb(193,193,193);
	border: 8px solid white;
	height: 130px;
	width: 100%;
}

/***** FIM DA PÁGINA DE GALERIA *****/

/***** PÁGINA DE EVENTOS *****/
section.evento{
	min-height: 90%;
	padding: 90px 2%;
}

section.evento .titulo-container{width:100%}

section.evento .line-titulo{max-width:1280px;}


/***** FIM DA PÁGINNA DE EVENTOS *****/

/* Media Queries */
@media screen and (max-width: 1400px){
	
	section.banner{
		background-position: 200% 100%;
		background-size: 90% auto;
	}

}

@media screen and (max-width: 1100px){

	.pt1{text-align:center;}

	.pt1-wraper{
		padding-right: 0;
		text-align: left;
	}

	.pt1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}

}

@media screen and (max-width: 1024px){
	
	section.banner{
		background-position: center;
		background-size: cover;
		height: 70vw;
		min-height: 500px;
	}

	nav.desktop{display:none;}

	nav.mobile{display:block;}

}

@media screen and (max-width: 915px){

	.sidebar{
		max-width: 0;
		text-align: center;
		width: 100%;
	}

	.search1{
		float: none;
		display: block;
		margin: 20px auto 40px auto;
		width: 80%;
	}

	.search2{
		display: block;
		float: none;
		margin: 20px auto 80px auto;
		text-align: center;
		width: 150px;
	}

	.form-venda-wraper{text-align:left;}

	.vitrine-venda{
		float: none;
		text-align: center;
		width: 100%;
	}

}

@media screen and (max-width: 900px){

	.nome-depoimento{
		float: left;
		margin:20px 20px;
		width: 100%;
	}

}

@media screen and (max-width: 850px){

	.pt1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}

}

@media screen and (max-width: 768px){

	section.banner{
		background-position: 100px center;
		background-size: cover;
		height: 80vh;
	}

	section.servicos-descricao{flex-direction:column;}

	.pt1{text-align:center;}

	.pt1-wraper{
		padding-right: 0;
		text-align: left;
	}

	.pt1,.pt2{
		padding: 80px 4%;
		width: 100%;
	}

	.nome-depoimento{
		float: right;
		margin:0px 0px;
		width: auto;
	}

	.w50{width:100%;}

	footer{text-align:center;}

	footer nav{display:none;}

	footer p{float:none;}

	.info-veiculo{width:100%;}

	.descricao-veiculo{
		padding: 20px 0;
		text-align: center;
	}

	.descricao-veiculo a{display:inline-block;}

	.descricao-veiculo p{max-width:none;}

	.event-imgs{
		margin-top: 0;
		width: 50%;
	}

	.event-imgs:last-child{margin-bottom:30px;}

	.galeria-imgs{border:4px solid white;}

	.event-img > .btn1{font-size:14px;}

}

@media screen and (max-width: 645px){

	.vitrine-destaque{
		display: inline-block;
		float: none;
		margin-top: 20px;
		width: 80%;
	}

	.vitrine-destaque a{display:inline-block;}

}

@media screen and (max-width: 580px){

	.text-banner{padding:30px;}

	.text-banner-single{font-size:18px;}

	.text-banner .text-banner-single:nth-of-type(1){
		font-size: 19px;
		width: 220px;
	}

	.text-banner .text-banner-single:nth-of-type(2){
		font-size: 19px;
		left: -4px;
		width: 155px;
	}

	.text-banner .text-banner-single:nth-of-type(3){
		font-size: 19px;
		left: -8px;
		width: 133px;
	}

	.text-banner .text-banner-single:nth-of-type(4){
		font-size: 17px;
		left: -12px;
		width: 340px;
	}

	section.veiculos-destaque .container{
		max-width: 1000px;
		padding: 40px 0;
		text-align: center;
	}

	section.veiculos-destaque .line-titulo h2{font-size:23px;}

	.img-small{
		padding-top: 80%;
		width: 80%;
	}

	.descricao-autor3{
		padding: 20px 0;
		width: 100%;
	}

	.event-imgs{
		margin-top: 0;
		width: 100%;
	}

	.galeria-imgs{
		border: 2px solid white;
		margin-bottom: 10px;
	}

}

@media screen and (max-width: 480px){

	.vitrine-destaque{width:100%;}

}
/***/