/* Reset de arquivo. */
*{
	box-sizing: border-box;
	font-family: "Open Sans";
	margin: 0;
	padding: 0;
}

html,body{height:100%;}
/***/

/* Classes auxiliares. */
.center{
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 2%;
}

.clear{clear:both;}
/***/

/* Header */
.layer{
	background: rgba(0,0,0,0.7);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

section.main{
	background-image: url('../imagens/bg1.jpg');
	background-position: center;
	background-size: cover;
	min-height: 800px;
	position: relative;
	padding: 15px 0;
	width: 100%;
}

section.main header{
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	position: relative;
	z-index: 2;
}

.icons-social{float:right;}

.icons-social a{
	color: white;
	font-size: 20px;
	margin: 0 15px;
	text-decoration: none;
}

.logo{
	color: white;
	float: left;
	font-size: 23px;
	font-weight: bold;
	margin-top: 20px;
}

nav.desktop{
	float: right;
	margin-top: 20px;
}

nav.desktop ul{list-style-type:none;}

nav.desktop ul li{
	display: inline-block;
	font-size: 17px;
	font-weight: lighter;
	margin: 0 15px;
}

nav.desktop a{
	color: white;
	text-decoration: none;
}

nav.mobile{
	display: none;
	float: right;
}

nav.mobile > i{
	color: white;
	cursor: pointer;
	font-size: 25px;
	position: relative;
	top: 23px;
}

nav.mobile ul{
	background: white;
	display: none;
	left: 0;
	list-style-type: none;
	position: absolute;
	top: 93px;
	width: 100%;
	z-index: 2;
}

nav.mobile li{
	border-bottom: 1px solid #444;
	font-weight: lighter;
	padding: 8px 0;
	text-align: center;
}

nav.mobile a{
	color: #444;
	display: block;
	text-decoration: none;
}

.conteudo-header{
	margin: 110px 0;
	max-width: 700px;
	position: relative;
	z-index: 1;
}

.conteudo-header h2{
	font-size: 44px;
	font-weight: lighter;
	color: white;
}

.conteudo-header h2 > span{color:#2692FF;}

.conteudo-header p{
	color: white;
	font-size: 16px;
	font-weight: lighter;
	margin-top: 18px;
}

.conteudo-header a{
	background: #2692FF;
	border-radius: 20px;
	color: white;
	display: block;
	height: 44px;
	line-height: 44px;
	margin-top: 18px;
	text-align: center;
	text-decoration: none;
	width: 177px;
}
/***/

/* Planos */
.chamada-planos{
	background: rgb(220,220,220);
	padding: 27px 2%;
	text-align: center;
	width: 100%;
}

.chamada-planos h2{
	border-top: 2px solid #2692FF;
	color: #2692FF;
	display: inline-block;
	font-size: 25px;
	font-weight: lighter;
	text-transform: uppercase;
}

.box-planos{padding:40px 0;}

.box-planos > .center{
	display: flex;
	flex-wrap: wrap;
}

.box-planos-single{
	padding: 0 40px;
	width: 33.3%;
}

.box-planos-wraper{
	border: 1px solid #ccc;
	box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	min-height: 300px;
	width: 100%;
}

.box-planos-single h2{
	background-color: #2692FF;
	color: white;
	font-weight: lighter;
	padding: 3px;
	text-align: center;
}

.pontos-plano{padding:8px 0 15px 0;}

.preco{
	margin-top: 10px;
	padding: 15px 0;
	text-align: center;
}

.preco h2{
	background-color: transparent;
	border-top: 1px solid #ccc;
	color: #777777;
	display: inline-block;
	font-size: 24px;
	padding: 0 20px;
}

.box-planos-single p{
	color: #777777;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 8px;
}
/***/

/* Paralax */
section.paralax{
	background-attachment: fixed;
	background-image: url(../imagens/bg_parallax.jpg);
	background-position: center;
	background-size: cover;
	padding: 40px 0;
	position: relative;
	width: 100%;
}

section.paralax > .center{
	color: white;
	max-width: 960px;
	position: relative;
	z-index: 2;
}

section.paralax h2{text-align:center;}

section.paralax p{margin-top:15px;}

.overlay-paralax{
	background-color: rgba(20,20,20,0.6);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
/***/

/* Final */
section.final{padding:30px 0;}

.w50{
	float: left;
	margin: 30px 0;
	padding: 0 20px;
	width: 50%;
}

section.final h2{
	color: #777777;
	font-size: 24px;
	font-weight: lighter;
	position: relative;
}

section.final h2 > .border-efeito{
	background: #777;
	height: 2px;
	position: absolute;
	transition: 0.4s;
	width: 50px;
}

section.final h2:hover > .border-efeito{width:100px; }

.contato form{margin-top:15px;}

.contato input:not([type=submit]){
	border: 1px solid #ccc;
	display: block;
	font-size: 15px;
	height: 40px;
	margin-top: 10px; 
	padding-left: 8px;
	width: 100%;
}

.contato textarea{
	border: 1px solid #ccc;
	font-size: 15px;
	height: 120px;
	margin-top: 10px;
	padding: 8px;
	resize: vertical;
	width: 100%;
}

.contato input[type=submit]{
	background-color: #2692FF;
	border: 0;
	border-right: 30px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	margin-top: 15px;
	width: 100px;
}

.time > .w50{
	margin: 15px 1%;
	width: 48%;
}

.equipe-single{
	border: 1px solid #ccc;
	box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	min-height: 240px;
	padding: 10px 8px 30px 8px;
}

.topo-box-user{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.box-avatar{
	background: #ccc;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	width: 50px;
}

.info-user{
	color: #777;
	display: inline-block;
	padding-left: 8px;
	vertical-align: middle;
}

.descricao-box-user{
	color: #999999;
	font-size: 14px;
	font-weight: lighter;
	margin-top: 10px;
}
/***/

/* Footer */
footer{
	background: #444;
	color: white;
	padding: 10px 2%;
	text-align: center;
	width: 100%;
}

/***/

@media screen and (max-width: 768px){

	nav.desktop{display:none;}

	nav.mobile{display:block;}

	.box-planos-single{
		margin: 10px 0;
		width: 100%;
	}

	.w50{width:100%;}


	.time > .w50{
		margin: 15px 0;
		width: 100%;
	}

}