/* Reset Padrão --------------------------------------------------- */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

body{
	overflow-x: hidden;
}

input,textarea{
	-webkit-appearance: none;
}

input:focus, textarea:focus, select:focus{
	outline: 0;
}
/* Boot ----------------------------------------------------------- */
.container{
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 2%;
}

.center{
	margin: 0 auto;
	padding: 0 2%;
	text-align: center;
}
.clear{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

.w33{
	width: 33.3%;
}

.w50{
	width: 50%;
}

.w100{
	width: 100%;
}
/* ---------------------------------------------------------------- */

/* Header --------------------------------------------------------- */
header{
	background-color: #4286F4;
	border-bottom: 1px solid #FFF;
}

header .logo{
	color: #FFF;
	font-size: 25px;
	margin: 10px 0;
}

header .logo a{
	color: #FFF;
	text-decoration: none;
}

header nav.desktop{
	margin: 15px 0;
}

header nav.mobile{
	display: none;
}

header nav ul{
	list-style-type: none;
}

header nav ul li{
	display: inline-block;
	font-size: 15px;
	padding: 0 15px;
}

header nav ul li a{
	color: #FFF;
	text-decoration: none;
}

header nav ul li a:hover{
	text-decoration: underline;
}
/* ---------------------------------------------------------------- */

/* Header - Search-1 ---------------------------------------------- */
section.search-1{
	background-color: #286AD6;
	border-bottom: 2px solid #FFF;
	color: #FFF;
	padding: 30px 0;
	text-align: center;
}

section.search-1 h2{
	font-size: 30px;
	font-weight: 400;
}

section.search-1 input[type=text]{
	border: 1px solid #CCC;
	font-size: 17px;
	height: 40px;
	margin-top: 15px;
	padding-left: 8px;
	width: 100%;
}
/* ---------------------------------------------------------------- */

/* Header - Search-2 ---------------------------------------------- */
section.search-2{
	background-color: #286AD6;
	color: #FFF;
	padding: 30px 0;
}

section.search-2 .form-group{
	margin-bottom: 10px;
	padding: 0 10px;
}

section.search-2 .form-group label{
	display: block;
	margin: 10px 0;
}

section.search-2 .form-group input[type="text"],
section.search-2 .form-group input[type="number"]{
	border: 1px solid #CCC;
	height: 40px;
	padding: 0 8px;
	width: 100%;
}
/* ---------------------------------------------------------------- */

/* Responsive ----------------------------------------------------- */
@media screen and (max-width: 768px){

	.w33, .w50{
		width: 100%;
	}
}